.counter-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.counter-value {
    font-size: 24px;
    font-weight: bold;
}

.button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
    margin-left: 10px;
    margin-right: 10px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
}
.button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.button:active {
	position:relative;
	top:1px;
}

.button-increment {
    background-color:#034936;
	border:1px solid #5f6956;
	text-shadow:0px -1px 0px #2b665e;
}
.button-decrement {
    background-color:#8d0505;
	border:1px solid #8a1121;
	text-shadow:0px -1px 0px #2b665e;
}